---
import LogoVortex from '../assets/logo-vortex.png';
import '../styles/global.css';
---
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="contenedor-nav">
  <a class="logo" href="/">
    <img src={LogoVortex.src} alt="Logo Vortex" />
  </a>

  <!-- Navegación escritorio -->
  <div class="nav-escritorio">
    <div class="contenido-nav-izquierda">
      <a href="#bebidas">Productos</a>
      <a href="#promociones">Promociones</a>
      <a href="#atletas">Atletas</a>
      <a href="#contacto">Contacto</a>
    </div>
    <div class="contenido-nav-derecha">
      <div class="idiomas">
        <span class="material-icons">language</span>
        <select name="idiomas-select" class="idiomas-select" id="idiomas-select">
          <option value="esp">ES</option>
          <option value="eng">ENG</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Navegación móvil -->
  <div class="nav-movil">
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">
      <span class="material-icons">menu</span>
    </label>
    <div class="menu-movil">
      <a href="#bebidas">Productos</a>
      <a href="#promociones">Promociones</a>
      <a href="#atletas">Atletas</a>
      <a href="#contacto">Contacto</a>
      <div class="idiomas">
        <span class="material-icons">language</span>
        <select name="idiomas-select" class="idiomas-select" id="idiomas-select-mobile">
          <option value="esp">ES</option>
          <option value="eng">ENG</option>
        </select>
      </div>
    </div>
  </div>
</div>

<style>
  .contenedor-nav {
        display: flex;
        align-items: center;
        gap: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background: var(--color-primary-prueba); /* Aquí se aplica el gradiente */
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* Para Safari */
    }
.logo img {
  height: 100px;
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Navegación de escritorio */
.nav-escritorio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.contenido-nav-izquierda {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.contenido-nav-izquierda a {
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.2s ease;
}

.contenido-nav-izquierda a:hover {
  color: var(--color-accent);
}

.idiomas {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text-primary);
}

.idiomas-select {
  background-color: transparent;
  font-family: 'Teko', sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  color: var(--color-text-primary);
  cursor: pointer;
}

/* Navegación móvil */
.nav-movil {
  display: none;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  cursor: pointer;
  color: var(--color-text-primary);
}

.menu-icon .material-icons{
  font-size: 5rem;
}

.menu-movil {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--color-secondary-prueba);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); /* Para Safari */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 10px 0 20px 0;
}

.menu-toggle:checked + .menu-icon + .menu-movil {
  display: flex;
  align-items: center;
}

.menu-movil a {
  color: var(--color-text-primary);
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 10px;
}

.menu-movil a:hover {
  color: var(--color-accent);
}

.menu-movil .idiomas {
  padding-left: 10px;
}

/* Responsive */
@media (max-width: 990px) {
  .contenido-nav-izquierda a {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .contenedor-nav{
    justify-content: center;
  }
  .logo img{
    height: 140px;
  }
  .nav-escritorio {
    display: none;
  }

  .nav-movil {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }


  .idiomas-select {
    font-size: 1.3rem;
  }
}
</style>
